@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --font-inter: "Inter", sans-serif; */
  --font-heading: "Montserrat", sans-serif;
}

@layer base {
  .dark {
    color-scheme: dark;
  }
}

html {
  scrollbar-gutter: stable both-edges;
}

@supports not selector(::-webkit-scrollbar) {
  /* Fallback for browsers that do not support ::-webkit-scrollbar */
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-base-700) var(--color-dark-bg-2);
  }
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-dark-ui-3);
  border: 3px solid var(--color-dark-bg);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-yellow-400);
}

body {
  background-color: #ffffff; 
  color: #1a1a1a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: #121212; 
  color: #f3f4f6;
}